body {
    background: url("IMG_1896.jpg") no-repeat center top #616161;
    background-size: auto 100vh;
    font-family: Open Sans, sans-serif;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 3s;
}

.Main {
    margin-top: 50px;
}

.welcome {
    width: 90%;
    max-width: 500px;
}

.aboutmecont {
    position: relative;
}

.welcome, .aboutme, .myskills {
    position: absolute;
    background-color: rgba(194, 196, 189, 0.8);
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 2%;
    max-width: 800px;
}

.myLabel {
    background-color: rgba(194, 196, 189, 0.8);
    border: 1px solid black;
    font-size: 1.5em;
    padding-left: 5px;
}

p {
    text-indent: 30px;
    padding: 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading, .loading:active {
    width: 240px;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1900ms infinite;
    animation: ellipsis steps(4, end) 1900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
}

.pageSlider-enter {
    transform: translateY(-100%);
}

.pageSlider-enter-active {
    transform: translateY(0);
    transition: all 1000ms;
}

.pageSlider-exit {
    opacity: 1;
}

.pageSlider-exit-active {
    opacity: 0;
    transition: opacity 700ms;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}